
 
 body{
  background-color: #f2f4f8;
  min-height: 100vh;
}




ul{
  margin: 0;
}

li{
 display: inline-grid;
}

p{
  margin-bottom: 0;
}

/******hide***/
.navbar{
    display: none;
    position: relative;
  }
/******hide END***/


/****************HEADER****************/
header {
    background-color: #2d313d;
}

.header,.nav_top{
  max-width: 960px;
  margin:0 auto;
}

img[data-filetype="logo"] {
    width: 32px;
    height: 20px;
    margin: 18px 0 18px 6px;
}

.right_side {
    float: right;
    color: #727989;
    font: 14px Arial;
    margin-top: 13px;
}

.city{
  border-bottom: dashed 1px;  
}
.header div a{
  color: #727989;
  text-decoration: none;
  cursor: pointer;
}

.header div i {
  margin: 0 25px 0 5px;
  font-size: 18px;
}

.fa-search:before {
  margin: 0 -10px 0 20px;
}

.userPhoto {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100px;
    border:0px #727989 solid;
}



/****************HEADER END*************/


/****************NAVIGATION*************/
nav{
  background-color: #646d81;
}

.nav_top ul
{
  padding-inline-start: 0px;
}

.nav_top ul>li{
  display: inline-block;
}

.nav_top ul>li>a{
  text-decoration: none;
    color: white;
    display: inline-block;
    padding: 7px 0 12px;
    margin-right: 26px;
    border-top: solid #646d81 5px;
    font: 14px Arial;
}

.nav_top ul>li>a:hover{
    border-top-color: white;
    padding-top: 7px;
    transition-duration: 0.5s;
}

/****************NAVIGATION END*************/


/****************main*************/
.main{
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0px 5px 5px 5px #e0e2e6;
    background-color: white;
    display: grid;
    grid-template-columns: 170px 1fr;

}
/****************main END**********/

/****************menu*************/

.baner{
  width: 100%;
  height: 100%;
}

.main menu {
    max-width: 170px;
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0px;
}


.main menu li {
    list-style-type: none;
    padding: 9px 28px 9px 23px;
    border-left: solid white 5px;
}

#more_li_tag{
  padding: 9px 78px 9px 23px;
}


.main menu ul li:hover{
    border-left: solid #99a1b3 5px;
    color:black;
}

.main menu ul li:hover a{
  color:black;
}


.main menu li a {
    text-decoration: none;
    font: 14px Arial;
    color: #99a1b3;
}

.main menu ul li.submenu{
    border-left: solid white 5px;
    margin-top: 32px;
    font: 18px Georgia;
    animation: none;
    display: block;

}

.main menu ul li.submenu:hover {
    border-left: solid white 5px;
}

menu >ul{
display: grid;
padding-top:20px;
padding-inline-start: 0px;
}
/****************menu END**********/


/****************Content**********/

.content{
  display: grid;
  border-left: solid #e0e4ed 1px;
  min-height: 100vh;
  grid-template-rows: 100px 50px 160px 160px 160px 200px 1fr;
}

.content h1 {
    padding: 30px 0 20px 30px;
    font: 30px Georgia;
}

.content h1 span {
    margin-left: 30px;
    border-bottom: dashed 1px;
}

/*search*/

form span{
  display: none;
}

.items{
  float: right;
}

.form{
    height: 50px;
    background-color: #f2f4f8;
    padding: 5px 30px;
    color: #99a1b3;
}

 input[type="text"] {
    padding: 0 10px;
    outline: none;
    font: 14px Arial;
    width: 280px;
    height: 40px;
    border: solid #d6d9e1 1px;
    border-radius: 5px;
    display: inline-block;
    background: url(../images/search.png) no-repeat 250px 8px;
    background-color: white;
}

.item{
    display: inline-block;
    float: right;
    position: relative;
    bottom: 30px;
}

.item span {
    margin-right: 86px;
    font: 12px Georgia;
}

.item i {
    margin-right: 30px;
    font-size: 18px;
}

/*search END*/


/**********Post*******/
.post {
    font: 12px Arial;
    color: #99a1b3;
    margin: 30px;
}

.image {
    width: 60px;
    float: left;
    margin-right: 14px;
}

.post_indent {
    margin-left: 74px;
}

.title {
    color: #4f9cd4;
    font: bold 16px Arial;
    padding: 5px 0 5px;
}

.text{
  color: black;
  font-size: 14px;
  padding-bottom: 14px;
}

.member {
    padding: 5px 15px;
    background-color: #f2f4f8;
    border-radius: 5px;
    margin-left: 26px;
}

.comments{
    float: right;
    margin-right: 60px;
}
/**********Post*******/




/**************buttons*****/



.buttons {
    text-align: center;
    margin-bottom: 86px;
}

.buttons a {
    text-decoration: none;
    color: black;
    font: 14px Arial;
    border: solid #99a1b3 1px;
    border-radius: 4px;
}

.buttons a:first-child {
    margin-right: 10px;
    padding: 10px 18px 10px 13px;
}

.buttons a:last-child {
    padding: 10px 30px 10px 30px;
}

.buttons a .fa-angle-right {
    padding-left: 12px;
}

.buttons a .fa-angle-left {
    padding-right: 12px;
}



/**************buttons end**/



/*************Footer*******/

.footer {
    color: #99a1b3;
    font: 12px Arial;
}

#nav_bottom{
  background-color: #f2f4f8;
  padding: 0px 0px 0px 30px;
  margin-bottom: 1px;
}

#nav_bottom a {
    text-decoration: none;
    display: inline-block;
    padding: 14px 0;
    margin-right: 18px;
    color: #99a1b3;
}

.copy {
    background-color: #f2f4f8;
    padding: 14px 0px 14px 30px;
}

/*************Footer END*******/

/*************Content END*******/



/**************MEDIA 800px***********/


@media all and (max-width: 800px){
/**********Header 800px ********/

.main menu{
  display: none;
}


.content h1{
  clear: both;
  padding: 30px;
}



  nav:first-child{
   background: red;
  }

  .content{
    position: relative;
    transition: all 0.5s ease 0s;
    min-width: 320px;
  }

  nav{
  display: none;
  }


   
   header{
    text-align: center;
    height: 60px;
   }
   
   .header{
    position: fixed;
    width: 100%;
    z-index: 2;
   }
  img[data-filetype="logo"] {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 20px;
    position: relative;
    top: -60px;
    z-index: 2;
}

 .navbar{
  display: flex;
 }


.right_side{
    float: none;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    width: 400px;
    position: relative;
    top: -60px;
}

.navbar-brand{
  color: #727989;
}

.navbar-nav{
  margin-bottom: 40px;
}

.right_side>.fa-search {
  display: none;
}

.bg-light{
 background-color: #2d313d!important;
}
  
.nav-link{
  color:#4977f9!important;
}

  .navbar-toggler
{
  background-color: darkgrey;
}

.fa-search:before {
    margin: 0 0px 0 30px;
}


h1{
  text-align: center;
}

/**********Header 800px END********/

.main{
  display: contents;
}

menu{
  display: none;
}




.member{
background-color: #2d313d;
}


#nav_bottom{
  text-align: center;
  background: #2d313d;
}

#nav_bottom a{
  padding: 20px 20px;
}

}







/************MEDIA END  800px********/


/**************MEDIA 550px***********/
@media all and (max-width: 580px){

.buttons a:first-child {
    margin-right: 0px;
  }

h1{
 word-wrap: break-word;
}

form span{
  display: inline;
  color: green;
  padding: 12px;
  border: solid #4f9cd4 1px;
  border-radius: 5px;
  background: #2d313d;
  margin-left: 20px;
  font: 12px Arial;
}

.item{
  display: none;
}
   
  .right_side i , .right_side a:nth-child(1){
    display: none;
  }

  .right_side{
    text-align: left;
    width: 10em;
  }
   


  img[data-filetype="logo"] {
    margin: 1em auto;
}

.comments{
  display: none;
}

#nav_bottom a{
  padding: 10px 5px;
} 

input[type="text"]{
  width: 50%;
  background: none;
}

}