body {
	background-color:  black;
}

button{
    background-color: #00d5c0;
    float: right;
    position: fixed;
    top: 20px;
    right: 50px;
    border-radius: 20px;
    height: 2em;
    box-shadow: 0px 1px 25px 4px #00d5c0;
}

#tabs {
	top: 50px;
    position: relative;
}

#tabs .tab {
    display: inline-block;
    background-color: #00d5c0;
    box-shadow: 0px 1px 25px 4px #00d5c0;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index:5;
    border-radius: 10px 10px 0 0;
    opacity: 0.5;
}
#tabs .whiteborder {
	background-color: white;
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 10px 10px 0 0;
    opacity: 1;
}
#tabs .tabContent {
	box-shadow: 0px 1px 25px 4px #00d5c0;
    width: 90%;
    height: 220px;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index:1;
    padding: 10px;
    border-radius: 0 0 3px 3px
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
    background-color: white;
}



span:nth-child(2){
	position: relative;
    top: -100px;
    left: 23px;
}

span:nth-child(3){
    position: relative;
    top: -130px;
    left: -108px
}

img{
	padding: 20px;
}

i{
    position: relative;
    top: 10px;
    left: -360px;
}

 u{
    position: relative;
    left: -272px;
    top: -66px;
}