p:nth-child(1){
font-weight: bold;
font-size: 24px;
}
p:nth-child(2)
{
	color:green;
}
p:nth-child(4)
{
	color: red;
	font-weight: bold;
}
p:nth-child(6)
{
	font-style: italic; color: blue
}
p:nth-child(7)
{
	font-style: italic; color: blue
}
p:nth-child(8)
{
	font-style: italic; color: blue
}
a:{cursor: pointer;}
p:nth-child(9){
font-weight: bold;
font-size: 24px;
}
p:nth-child(10)
{
	color:green;
}
p:nth-child(11)
{
	color: red;
	font-weight: bold;
}
p:nth-child(13)
{
	font-style: italic; color: blue
}
p:nth-child(14)
{
	font-style: italic; color: blue
}
p:nth-child(15)
{
	font-style: italic; color: blue
}
p:nth-child(16){
font-weight: bold;
font-size: 24px;
}
p:nth-child(17)
{
	color:green;
}
p:nth-child(18)
{
	color: red;
	font-weight: bold;
}
p:nth-child(20)
{
	font-style: italic; color: blue
}

