<div class="loginForm">
    <form>
        <label for="name">Login:</label>
        <input type="name">
        <label for="username">Password:</label>
        <p><a href="#">Forgot password?</a></p>
        <input type="password">
        <div id="lower">
            <input type="checkbox"><label class="check" for="checkbox">Remember me</label>
            <input type="submit" value="Enter" id="submit">
        </div>
    </form>
</div>