
body{
	margin:0px;
}
.blockall
{
	background-size: 100%;
}
tr:nth-child(1){
 margin: 0px;
 background-color: #3083ff;
 text-align: center;
 padding: 20px;
 color:blue;
}
th:nth-child(1){
	width: 125px;
	height: 300px;
	float: left;
	background: yellow;
	padding:30px 50px 100px 10px;
}
.main{
	width: 85%;
	margin-left: 15%;
	margin-right: 200px;
	background: url(img/skrip.gif) repeat-y;
	background-position: right;
}
footer{
 position: fixed;
 bottom: 0;
 left:0;
 margin: 0px;
 background-color: #3083ff;
 text-align: center;
 padding: 20px;
 margin-top: 100px;
 color:blue;
 width: 100%;
}

h1{
	 text-align: center;
	 white-space: nowrap;
}
img{
	margin: 20px;
	float: left;
}
.firstP{
	padding-top: 20px;
}
