<img src="./src/img/battleship.jpg" alt="battleship" width="100%">
<div class="box grey_border">
    <p>Each player's fleet contains 5 different ships:</p>
    <img src="./src/img/ships.jpg" class="floatr" width="300px" height="150px" alt="ship rule">
    <ul>
        <li>Lincor (4 holes)</li>
        <li>Cruiser (3 holes)</li>
        <li>Destroyer (2 holes)</li>
        <li>Boat (1 holes)</li>
    </ul>
</div>
<br>
    <h2>Setup</h2>
        <div class="rules_area">
            <div class="rules_area__text">
                <p>You and your opponent sit facing each other and neighter can see the other's ocean grid.</p>
                <p>Place your fleet of 5 ships on the ocean grid.</p>
            </div>
            <div class="rules_area__img">
                <img src="./src/img/figure2.jpg">
            </div>
        </div>
<p>Rules for placing ships:</p>
<ul>
    <li>Place each ship in any horizontal or vertical position but not diagonally.</li>
    <li>Don't place a ship so that any part of it overlaps letters, numbers, the edge of the grid or another ship.</li>
    <li>Don't change the position of any ships once the game has begun.</li>
</ul>
<br>
<h2>Game Play</h2>
<div class="rules_area">
    <div class="rules_area__text"><p>
        Decide who will start. You and your opponent will alternate turns, calling out one shot per turn to try to hit each other's ships.
    </p>
    <p>
        On your turn, pick a target hole and call out its location by letter and number
    </p>
    <p>
        When you call a shot, your opponent must tell you whether your shot is a hit or a miss.
    </p>
    </div>
    <div class="rules_area__img"><img src="./src/img/figure3.jpg" class="floatr"></div>
</div>
<ol>
    <li>

        <div class="box blue_border">
            <h3>It's a hit</h3>
            <p>If you call out a shot location that is occupied by a ship on your opponent's ocean grid, your shot is a hit!</p>
            <p>Your opponent tells you which ship you have hit (cruiser, submarine, battleship, etc..)..</p>
            <p>Record your hit by placing a red peg on your target grid. Your opponent places a red peg in the corresponding hole of the ship on his ocean grid.</p>
        </div>
    </li>
    <li>

        <div class="box red_border">
            <h3>It's a miss</h3>
            <p>If you call out a shot location not occupied by a ship on your opponent's ocean grid, its a miss.</p>
            <p>Record your miss by placing a white peg in the corresponding target hole on your target grid, so you will remember this location and won't call this shot again.</p>
        </div>
    </li>
</ol>
<embed src="src/audio/audio.ogg" autostart="true" hidden="false" loop="true" width="0" height="0">